/* ================================== */
/*  RESET from https://dev.to/hankchizljaw/a-modern-css-reset-6p3   */
/* ================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove default padding */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ================================== */
/*  STYLES                            */
/* ================================== */

@font-face {font-family: "UnZialish";
  src: url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/d33e897176d30179c0ee01b063ec8914.svg#UnZialish") format("svg"); /* iOS 4.1- */
}

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Open+Sans&display=swap');

$font-logo: 'UnZialish', sans-serif;
$font-title: 'Cinzel', serif;
$font: 'Open Sans', sans-serif;
$card-font: serif;

$dnd-highlight: #71080a;
$dnd-secondary: #e5c03a;
$brand-black: #333333;
$brand-white: #aaaaaa;
$pure-black: #000000;
$pure-white: #FFFFFF;
$shadow: 2px 5px 10px #888888;

//DND Cards
$card-title-color: #71080a;
$card-text-color: #71080a;
$card-back: #ccb392;



.hide {
  display: none;
}


/* ================================== */
/*  STRUCTURE                         */
/* ================================== */



/* ================================== */
/*  TEXT                              */
/* ================================== */



/* ================================== */
/*  FORM                              */
/* ================================== */





/* ================================== */
/*  PAGE SPECIFIC                     */
/* ================================== */

//----- HOME
.home {
  background-color: black;
  height: 100vh;
  color: #9C7C38;
  text-shadow: 0 0 12px #A57164;
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  h1 {
    font-family: $font-logo;
    font-size: 10rem;
    text-shadow: 2px 2px 1px #FFF,  0 0 12px #A57164;
  }
  img {
    max-height: 10rem;
    margin-right: 20px;
  }
  .logo {
    background-color: #000;
    opacity: 0;
    -moz-opacity: 0%;
    -webkit-opacity: 0%;
    z-index: 2;
    animation: fade 10s linear infinite;
    animation-delay: 2s;
  }
  p {
    margin-top: -17rem;
    text-align: center;
  }
}

.shine { //not supported in IE, must have -webkit for Chrome
  display: inline-block;
  position: relative;
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 20% }
  100% { opacity: 0 }
}